<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty scope="context" name="LOKI_URL" source="grafana.loki.url" defaultValue="http://localhost:3100/loki/api/v1/push"/>
    <springProperty scope="context" name="LOKI_USER" source="grafana.loki.user" defaultValue=""/>
    <springProperty scope="context" name="LOKI_PASSWORD" source="grafana.loki.password" defaultValue=""/>

    <springProfile name="grafana">
        <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <url>${LOKI_URL}</url>
            <auth>
                <username>${LOKI_USER}</username>
                <password>${LOKI_PASSWORD}</password>
            </auth>
        </http>
        <format>
            <label>
                <pattern>app=photopia-back,host=${HOSTNAME},level=%level</pattern>
            </label>
            <message>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <springProfile name="grafana">
        <root level="INFO">
            <appender-ref ref="LOKI" />
        </root>
    </springProfile>

</configuration>
